body{
    background-color: black;
    color: white;
    width: 80%;
    margin: 10%;
   
    
}
html{
    scroll-behavior: smooth;
}

/* nav buttons */
.navbar{
    text-decoration: none;
    float: right;
    font-size: 28px;
    width: 60%;
}
nav a {
    background-color: rgba(16, 17, 16, 0.6);
    color: #dfc6c6; /* Black */
    display: inline-block;
    padding: 5px;
    margin: 2%; 
    text-decoration:burlywood; 
    border-radius: 6px; 
}
nav>a:hover {
    background-color: #80715e;
    color: white;
    animation-delay: 1s;
    animation: forwards;
    text-decoration: none;
   
  }
  nav{
    float: right;
    width:70%;
  }

/* intro */
/* CSS for fade-in animation */
@keyframes slide {
    from {
      transform: translateY(80%);
    }
    to {
      transform: translateY(0);
    }
  }
  
  /* Apply the animation to the element you want to animate */
  #name {
    animation: slide 2s ease-out;
  }
  
#name{
    float: right;
    margin: 7%;
    align-items: right;
    font-size: 90px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition-timing-function: ease-out;
}

u{
    color: red;
}

/* image */
img{
    align-items: left;
    border-radius: 50% 20% 50% 20%;
    height: 5%;
}

/* About */
.about{
    margin: 15px;


}
#abt{
    font-size: 100px;
    text-align: center;
    color: antiquewhite;
    margin: 15%;
}
.content{
    float: left;
    margin-top: 2%;
    margin: 5%;
    align-items: left;
    justify-content: left;
    font-size: 30px;
    line-height: 80px;
    font-family: serif;
    color: rgb(228, 222, 222);
    
}
#anotherpic{
    align-items: right;
    border-radius: 50% 20% 50% 20%;
    height: 10%;
    
    
    margin-top: 11%;
    margin-right: 10%;
    margin-bottom: 10%;
    
}
/* Skills */
#skl{
   font-size: 60px;
    margin:40px;
    justify-content: center;
    text-align: center;
    
}
.skills1{
    width: 100%;
    height: 70%;
    border-radius: 0%;
    background-repeat: no-repeat;
    align-items: center;
    display: inline;
}

/* Experience*/
.exp{
    display: flex;
    font-size: 130%;
    margin: 5%;
    padding: 1% 1%;
    line-height: 320%;
}
.accolade{
    padding-left: 10%;
    padding-right: 9%;
    font-size: 30px;
}
.codsoft{
    padding-left: 9%;
    padding-right: 10%;
    font-size: 30px;

}
h1{
    text-align: center;
    font-size: 90px;
    text-decoration: underline;
}

/* projects */
.proj{
    text-align: center;
    font-size: 90px;
    text-decoration: none;
}
.prj{
    display: flex;
}
figure {
    text-align: center;
  }
  
  figcaption {
    text-align: center;
    font-size: 50px;
  }

.img1{
    width:40%;
    height: 20%;
}  
.img2{
    width:50%;
}  
.img3{
    width:40%;
}  
.img3 img{
    border-radius: 5%;
    width: 100%;
    height: 80%;
    object-fit: cover;
   
}

.img2 img{
    border-radius: 5%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img1 img{
    border-radius: 5%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img1:hover{
    width: 50% ;
    height: 20%;
    transition-duration: 1s;
}
.img2:hover{
    width: 60% ;
    transition-duration: 1s;
}
.img3:hover{
    width: 50% ;
    transition-duration: 1s;
}

/* logo */
#jslogo{
    border-radius: 0%;
}
#skill2{
    width: 90%;
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin: 10%;
    margin-top: 5px;
    margin-right: 35px;
    /* padding: 80px; */
}
#skill3{
   width: 70%;
   display: flex;
}
#htmllogo{
    padding: 4%;
}
#csslogo{
    padding: 4%;
}
#jslogo{
    padding: 4%;
}
#pythonlogo{
    /* padding: 4%; */
    margin-left: 22%;
    margin-right: 22%;
    margin-top: 0%;
}
#javalogo{
    /* padding: 4%; */
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 0%;


}
/* Certifications */
.cert{
    margin:10%;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: blanchedalmond;
}

#certificates{
    font-size: 35px;
    text-decoration: dotted;
    line-height: 240%
    ;
}
/* footer */

/* Resume */
#resume{
    color: beige;
    text-align: center;
    font-size: 50px;

}
.resume{
    justify-content: center;
    display: flex;
}
.button{
    background-color: #aa3304; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    

}
#btn{
    align-items: center;
    display: block;
    /* padding: 20px; */
    padding-left: 800px;
    padding-right: 40px;
    border-radius: 5%;
    font-size: 90px;
}
#contact{
    text-align: left;
    font-size: 30px;
}
